

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascript/categoryValidation.js"></script>


<script src="/javascript/productImageValidation.js"></script>
<script src="/javascript/productEditValidation.js"></script>
<script src="/javascript/bannerValidation.js"></script>
<script src="/javascript/couponValidation.js"></script>
<script src="/javascript/adminProfileValidation.js"></script>

   </body>
</html>