









<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm ms-auto">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>Shoppers</strong></a>
      
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">About</a>
          </li>
        </ul>
        <!-- <img src="/images/shopping-cart.gif" alt=""> -->
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/"><i class="fa-solid fa-circle-user me-1"></i> Account</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





